.footer{
    background-color: #1F3B4D;
    box-sizing: border-box;
}
.footer_logo{
    color: white;
}
.footer_logo h4{
    font-size: 1.5rem;
    font-weight: bold;
}
#p{
    font-size: 15px;
}
.footer_links{
    list-style-type: none;
    color: white;
}
.footer_links a{
    color: white;
    text-decoration: none;
}
.footer_copyrights{
    color: white;
    padding-top: 10px;
}